html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred.";
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.swal2-container {
    position: fixed !important;
    inset: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: 99999 !important;
}

.swal2-popup {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    max-width: 420px !important;
    width: 90% !important;
    padding: 2rem !important;
}

.glass-card-popup {
    background: rgba(255,255,255,0.88) !important;
    backdrop-filter: blur(14px);
    border-radius: 22px !important;
    border: 1px solid rgba(255,255,255,0.35);
    box-shadow: 0 30px 60px rgba(0,0,0,0.2) !important;
}

.swal2-container {
    z-index: 99999 !important;
}

.glass-card-popup {
    background: rgba(255, 255, 255, 0.95) !important;
    backdrop-filter: blur(14px) !important;
    border-radius: 22px !important;
    border: 1px solid rgba(255, 255, 255, 0.35) !important;
    box-shadow: 0 30px 60px rgba(0,0,0,0.2) !important;
    padding: 2rem !important;
}

.swal-title-custom {
    font-family: 'Helvetica Neue', Arial, sans-serif !important;
    font-weight: 800 !important;
    font-size: 1.5rem !important;
    color: var(--text-dark) !important;
    margin-bottom: 0.5rem !important;
}

.btn-primary-glow {
    background: #1e293b !important;
    color: #fff !important;
    border-radius: 14px !important;
    padding: 12px 28px !important;
    font-weight: 600 !important;
    border: none !important;
    cursor: pointer !important;
    box-shadow: 0 10px 25px rgba(30,41,59,0.35) !important;
    transition: all 0.2s ease !important;
    text-decoration: none !important;
    display: inline-block !important;
    pointer-events: auto !important;
   cursor:pointer;
}

    .btn-primary-glow:hover {
        transform: translateY(-2px) !important;
        box-shadow: 0 15px 35px rgba(30,41,59,0.45) !important;
    }
