@inherits LayoutComponentBase

<main>
    @Body
</main>

<style>
    main {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f5f7;
    }
</style>