@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="page">
    @if (!IsAuthPage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<HeadContent>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        // Замени стария window.prettyAlert с този:
        window.prettyAlert = Swal.mixin({
            buttonsStyling: false,
            showConfirmButton: true,
            customClass: {
                popup: 'glass-card-popup animate__animated animate__fadeInUp',
                title: 'swal-title-custom',
                confirmButton: 'btn-primary-glow'
            },
            // Тези редове казват на алерта как да изчезне, когато натиснеш бутона
            hideClass: {
                popup: 'animate__animated animate__fadeOutDown'
            }
        });
           window.closeAlert = () => {
            Swal.close();
        };
    </script>

</HeadContent>

@code{
    private bool IsAuthPage =>
        Nav.Uri.EndsWith("/") ||
        Nav.Uri.Contains("/setup-qr-code") ||
        Nav.Uri.Contains("/callback");

    protected override void OnInitialized()
    {
        Nav.LocationChanged += (s, e) => StateHasChanged();
    }
}
