# Спираме качването на паролите и токените
appsettings.json
appsettings.Development.json

# Спираме базата данни (за да не качиш локалните си тестове)
*.db
*.db-shm
*.db-wal

# Спираме папките с компилиран код
bin/
obj/
.vs/